
<%= render 'shared/nav' %>
<div class="jumbotron bg-blue">
    <h1 class="display-3 text-white">Languages</h1>
    <p class="lead text-white">Include as many languages you want</p>
    <hr class="my-2 border-white ">
    <p class="lead">
        <%= link_to "Add a new Language" , languages_new_path ,class: "btn btn-success" %>
    </p>
</div>

<div class="container bg-transparent ">
    <%= render 'shared/sub_nav' %>
    
</div>

