<nav class="navbar navbar-expand-lg navbar-light border-bottom border-white">
  <%= render 'shared/image',size:50 ,class: "mt-0" %>
  <div class="d-flex justify-content-between width-nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%=  link_to "You are logged in as :#{current_user.name}", root_path, class: " d-none d-md-block nav_link text-white ml-4 lead " %>
      </li>
      
    </ul>
   <%= link_to "Log out", logout_path, method: :delete, class: "btn btn-success px-3" %>
  </div>
</nav>