
html,
body {
  height: 100%;
}

.width-nav {
  width: 100%;
}

/* stylelint-disable */
body {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #1cb5e0, #000046) fixed;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #1cb5e0, #000046) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* stylelint-enable */
