
html, body{
  height: 100%;
}

html{
    body{
        background: #000428;  /* fallback for old browsers */
        

    }
}


.bg-blue{
    background-color: #3473B4;
}

form{   
    i{
        top:140px;

    }


}

