// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user_avatar {
    display: none;
  }

  .bg-blue {
    background-color: #326fb0 !important;
  }
  
  
  .invalid-feedback {
    font-weight: bold;
  }
